<h1>New Place</h1>

<a href="/places">Back to Places</a>

<%= form_with :model => @place do |form| %>
    <p>
      <%= form.label "name", "Name" %>
      <%= form.text_field "name" %>
    </p>
    <%= form.submit %>
<% end %>